.App {
  min-height: 100vh;
  min-width: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6c692a;
  color: white;
}

.card {
  height: 70%;
  width: 70%;
  border-radius: 50px;
  box-shadow: 0 24px 31px rgba(1,1,0,0.5);
  background-color: #e6e183;
}

.content {
  margin: 10% 5%;
  font-size: 2em;
  text-align: left;
  color: black;
}

.author {
  margin: 5%;
  font-size: 2em;
  text-align: right;
  color: black;
}

.button {
  margin: 5%;
  padding: 3%;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(1,1,0,0.5);
  font-size: 2rem;
  background-color: #dc8a1f;
  border-width: 0;
}
